.left{
    width: 20%;
    height: 100%;
    background-color: rgb(202, 202, 202);
    text-align: center;
}

.middle{
    width: 60%;
    height: 400vh;
    text-align: center;
    padding: 4vh;
}

.right{
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: rgb(202, 202, 202);
}

.main{
    display: flex;
    height: 100%;
}


.card{
    margin: 2vb;
}

.card-top{
    display: flex;
}

.card-bottom{
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.comment-date{
    opacity: 60%;
    font-size: small;
}

.card-text{
    text-align: left;
}

.new-comment-input{
    height: 15vh;
    width: 100%;
}

.new-comment-name{
    float: left;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

.new-comment-btn{
    width: 10vh;
    float: right;
    margin-top: 2vh;
    margin-right: 1vh;
}

.quill{
    height: 50vh;
}

.commentList{
    display: block;
}
